config/n8n/workflows-fixed/health-digest-fixed.json
{
  "name": "Hydra Daily Health Digest (Fixed)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Daily 8AM CST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.1.244:8600/cluster/status",
        "options": { "timeout": 60000 }
      },
      "id": "http-1",
      "name": "Get Cluster Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.1.244:8600/containers/list",
        "options": { "timeout": 60000 }
      },
      "id": "http-containers",
      "name": "Get Containers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.1.244:9090/api/v1/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "query", "value": "up" }]
        },
        "options": { "timeout": 30000 }
      },
      "id": "http-2",
      "name": "Get Prometheus Targets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 600]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build comprehensive health digest\nconst clusterStatus = $('Get Cluster Status').first().json || {};\nconst containersData = $('Get Containers').first().json || {};\nconst promData = $('Get Prometheus Targets').first().json || {};\nconst timestamp = new Date();\nconst dateStr = timestamp.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst timeStr = timestamp.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Chicago' });\n\n// Prometheus targets\nconst promResults = promData?.data?.result || [];\nconst targetsUp = promResults.filter(r => r.value?.[1] === '1').length;\nconst targetsTotal = promResults.length;\n\n// Container status\nconst containers = containersData?.containers || [];\nconst containersTotal = containers.length;\nconst containersRunning = containers.filter(c => c.state === 'running').length;\n\n// Service status from cluster/status\nconst prometheus = clusterStatus?.prometheus || {};\nconst letta = clusterStatus?.letta || {};\nconst crewai = clusterStatus?.crewai || {};\nconst qdrant = clusterStatus?.qdrant || {};\n\n// Calculate health percentage\nlet healthyServices = 0;\nlet totalServices = 4;\nif (prometheus?.up > 0) healthyServices++;\nif (letta?.status === 'ok') healthyServices++;\nif (crewai?.status === 'ok') healthyServices++;\nif (qdrant?.collections >= 0) healthyServices++;\nconst healthPct = Math.round((healthyServices / totalServices) * 100);\n\n// Build report\nlet report = `# Hydra Daily Health Digest\\n`;\nreport += `**${dateStr}** at ${timeStr} CST\\n\\n`;\nreport += `## Overall Health: ${healthPct}%\\n\\n`;\nreport += `### Core Services\\n`;\nreport += `- Prometheus: ${prometheus?.up || 0}/${prometheus?.total || 0} targets UP\\n`;\nreport += `- Letta: ${letta?.status === 'ok' ? 'Healthy' : 'Unknown'} (v${letta?.version || 'N/A'})\\n`;\nreport += `- CrewAI: ${crewai?.status === 'ok' ? 'Healthy' : 'Unknown'} (${crewai?.crews?.length || 0} crews)\\n`;\nreport += `- Qdrant: ${qdrant?.collections || 0} collections\\n\\n`;\nreport += `### Containers\\n`;\nreport += `- Total: ${containersTotal}\\n`;\nreport += `- Running: ${containersRunning}\\n\\n`;\nreport += `### Prometheus Targets\\n`;\nreport += `- UP: ${targetsUp}/${targetsTotal}\\n\\n`;\n\n// Warnings\nif (healthPct < 100 || containersRunning < containersTotal) {\n  report += `### Warnings\\n`;\n  if (healthPct < 100) report += `- Some services may be degraded\\n`;\n  if (containersRunning < containersTotal) report += `- ${containersTotal - containersRunning} containers not running\\n`;\n}\n\nreturn {\n  json: {\n    report,\n    healthPct,\n    containersTotal,\n    containersRunning,\n    containersHealthy: containersRunning,\n    containersUnhealthy: containersTotal - containersRunning,\n    targetsUp,\n    targetsTotal,\n    timestamp: timestamp.toISOString()\n  }\n};"
      },
      "id": "code-1",
      "name": "Build Digest Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 400]
    },
    {
      "parameters": {
        "operation": "write",
        "filePath": "/data/health/daily-digest.md",
        "options": {}
      },
      "id": "write-1",
      "name": "Save Report",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [780, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.244:8283/v1/agents/agent-b3fb1747-1a5b-4c94-b713-11d6403350bf/archival-memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: `[DAILY DIGEST] Health: ${$json.healthPct}% | Containers: ${$json.containersRunning}/${$json.containersTotal} | Targets: ${$json.targetsUp}/${$json.targetsTotal}` }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "http-3",
      "name": "Log to Letta Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 8AM CST": {
      "main": [[
        { "node": "Get Cluster Status", "type": "main", "index": 0 },
        { "node": "Get Containers", "type": "main", "index": 0 },
        { "node": "Get Prometheus Targets", "type": "main", "index": 0 }
      ]]
    },
    "Get Cluster Status": {
      "main": [[{ "node": "Build Digest Report", "type": "main", "index": 0 }]]
    },
    "Get Containers": {
      "main": [[{ "node": "Build Digest Report", "type": "main", "index": 0 }]]
    },
    "Get Prometheus Targets": {
      "main": [[{ "node": "Build Digest Report", "type": "main", "index": 0 }]]
    },
    "Build Digest Report": {
      "main": [[{ "node": "Save Report", "type": "main", "index": 0 }]]
    },
    "Save Report": {
      "main": [[{ "node": "Log to Letta Memory", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "tags": [
    { "name": "monitoring", "id": "3" },
    { "name": "scheduled", "id": "5" }
  ],
  "active": true
}
