config/n8n/workflows/email-digest-sender.json
{
  "name": "Daily Email Digest",
  "description": "Sends daily summary email with cluster status, alerts, and activities",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-digest",
      "name": "Daily 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.1.244:8700/aggregate/health",
        "options": {}
      },
      "id": "get-health",
      "name": "Get Cluster Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [320, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.1.244:9090/api/v1/alerts",
        "options": {}
      },
      "id": "get-alerts",
      "name": "Get Prometheus Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [320, 350]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.1.244:8700/activity/recent?limit=20",
        "options": {}
      },
      "id": "get-activities",
      "name": "Get Recent Activities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [320, 500]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  health: $('Get Cluster Health').item.json,\n  alerts: $('Get Prometheus Alerts').item.json,\n  activities: $('Get Recent Activities').item.json\n} }}",
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [540, 350]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst health = data.health || {};\nconst alerts = data.alerts?.data?.alerts || [];\nconst activities = data.activities || [];\n\nconst firingAlerts = alerts.filter(a => a.state === 'firing');\nconst today = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst healthStatus = health.overall_health?.status || 'unknown';\nconst healthScore = health.overall_health?.score || 0;\nconst statusEmoji = healthStatus === 'healthy' ? '✅' : healthStatus === 'degraded' ? '⚠️' : '🔴';\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background: #1a1a1a; color: #e0e0e0; }\n    .header { background: linear-gradient(135deg, #00d4ff, #0080ff); padding: 20px; border-radius: 8px; margin-bottom: 20px; }\n    .header h1 { margin: 0; color: white; font-size: 24px; }\n    .header p { margin: 5px 0 0; color: rgba(255,255,255,0.8); }\n    .card { background: #2a2a2a; border-radius: 8px; padding: 15px; margin-bottom: 15px; border-left: 4px solid #00d4ff; }\n    .card h2 { margin: 0 0 10px; font-size: 18px; color: #00d4ff; }\n    .metric { display: inline-block; background: #333; padding: 8px 12px; border-radius: 4px; margin: 4px; }\n    .metric-label { font-size: 12px; color: #888; }\n    .metric-value { font-size: 18px; font-weight: bold; color: #00d4ff; }\n    .alert { background: #3a2020; border-left-color: #ff4444; padding: 10px; margin: 5px 0; border-radius: 4px; }\n    .alert-name { font-weight: bold; color: #ff6666; }\n    .activity { border-bottom: 1px solid #333; padding: 8px 0; }\n    .activity:last-child { border-bottom: none; }\n    .activity-time { font-size: 12px; color: #666; }\n    .success { color: #4caf50; }\n    .warning { color: #ff9800; }\n    .error { color: #f44336; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>🐙 Hydra Cluster Daily Digest</h1>\n    <p>${today}</p>\n  </div>\n\n  <div class=\"card\">\n    <h2>${statusEmoji} Cluster Health</h2>\n    <div class=\"metric\">\n      <div class=\"metric-label\">Status</div>\n      <div class=\"metric-value\">${healthStatus.toUpperCase()}</div>\n    </div>\n    <div class=\"metric\">\n      <div class=\"metric-label\">Health Score</div>\n      <div class=\"metric-value\">${healthScore.toFixed(0)}%</div>\n    </div>\n  </div>\n`;\n\nif (firingAlerts.length > 0) {\n  html += `\n  <div class=\"card\" style=\"border-left-color: #ff4444;\">\n    <h2>🚨 Active Alerts (${firingAlerts.length})</h2>\n`;\n  for (const alert of firingAlerts.slice(0, 5)) {\n    html += `\n    <div class=\"alert\">\n      <div class=\"alert-name\">${alert.labels?.alertname || 'Unknown'}</div>\n      <div>${alert.annotations?.summary || alert.annotations?.description || ''}</div>\n    </div>\n`;\n  }\n  if (firingAlerts.length > 5) {\n    html += `<p style=\"color: #888;\">...and ${firingAlerts.length - 5} more alerts</p>`;\n  }\n  html += `</div>`;\n} else {\n  html += `\n  <div class=\"card\">\n    <h2>✅ No Active Alerts</h2>\n    <p style=\"color: #4caf50;\">All systems operating normally</p>\n  </div>\n`;\n}\n\nif (activities.length > 0) {\n  html += `\n  <div class=\"card\">\n    <h2>📋 Recent Activities</h2>\n`;\n  for (const activity of activities.slice(0, 10)) {\n    const time = activity.timestamp ? new Date(activity.timestamp).toLocaleTimeString() : '';\n    html += `\n    <div class=\"activity\">\n      <div><strong>${activity.action || activity.type || 'Activity'}</strong> - ${activity.target || activity.source || ''}</div>\n      <div class=\"activity-time\">${time} | ${activity.result || activity.status || ''}</div>\n    </div>\n`;\n  }\n  html += `</div>`;\n}\n\nhtml += `\n  <div style=\"text-align: center; margin-top: 20px; color: #666; font-size: 12px;\">\n    <p>Hydra Autonomous Steward | <a href=\"http://192.168.1.244:3333\" style=\"color: #00d4ff;\">Dashboard</a></p>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  subject: `${statusEmoji} Hydra Daily Digest - ${healthStatus.toUpperCase()} (${healthScore.toFixed(0)}%)`,\n  html: html,\n  alerts_count: firingAlerts.length,\n  activities_count: activities.length\n};"
      },
      "id": "format-email",
      "name": "Format Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 350]
    },
    {
      "parameters": {
        "fromEmail": "hydra@hydra.local",
        "toEmail": "shaun@hydra.local",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [980, 350],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Local SMTP"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.244:8700/activity/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "email_digest_sent"
            },
            {
              "name": "source",
              "value": "n8n-automation"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ alerts: $('Format Email HTML').item.json.alerts_count, activities: $('Format Email HTML').item.json.activities_count }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-digest",
      "name": "Log Digest Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 350]
    }
  ],
  "connections": {
    "Daily 7AM": {
      "main": [
        [
          {
            "node": "Get Cluster Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Prometheus Alerts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Recent Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cluster Health": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prometheus Alerts": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Activities": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email HTML": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Digest Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "tags": [
    {
      "name": "notifications",
      "id": "12"
    },
    {
      "name": "scheduled",
      "id": "5"
    }
  ]
}
