config/n8n/workflows/letta-memory-update.json
{"updatedAt":"2025-12-12T00:41:03.594Z","createdAt":"2025-12-12T00:41:03.594Z","id":"1","name":"Letta Memory Update","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"letta-memory","options":{}},"id":"1","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,300],"webhookId":"letta-memory"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"2","name":"Schedule (6h)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[260,500]},{"parameters":{"jsCode":"const input = $input.first().json;\nlet text = input.text || JSON.stringify(input);\nreturn [{ text }];"},"id":"3","name":"Process Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,300]},{"parameters":{"jsCode":"return [{ text: '[SCHEDULED CHECK] ' + new Date().toISOString() }];"},"id":"4","name":"Schedule Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,500]},{"parameters":{"method":"POST","url":"http://192.168.1.244:8283/v1/agents/agent-b3fb1747-1a5b-4c94-b713-11d6403350bf/archival-memory","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ text: $json.text }) }}","options":{"timeout":30000}},"id":"5","name":"Add to Letta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,400]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Process Input","type":"main","index":0}]]},"Schedule (6h)":{"main":[[{"node":"Schedule Check","type":"main","index":0}]]},"Process Input":{"main":[[{"node":"Add to Letta","type":"main","index":0}]]},"Schedule Check":{"main":[[{"node":"Add to Letta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"1","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2025-12-12T00:41:03.600Z","createdAt":"2025-12-12T00:41:03.600Z","role":"workflow:owner","workflowId":"1","projectId":"UTllfRaAzX9mc7qP","project":{"updatedAt":"2025-12-12T00:44:55.189Z","createdAt":"2025-12-12T00:24:51.822Z","id":"UTllfRaAzX9mc7qP","name":"shaun ulrich <shaunulrich11@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-12T00:24:51.822Z","createdAt":"2025-12-12T00:24:51.822Z","userId":"41b6ace1-2cba-42e0-a389-4bbd3b571f94","projectId":"UTllfRaAzX9mc7qP","user":{"updatedAt":"2025-12-13T17:43:02.000Z","createdAt":"2025-12-12T00:24:51.284Z","id":"41b6ace1-2cba-42e0-a389-4bbd3b571f94","email":"shaunulrich11@gmail.com","firstName":"shaun","lastName":"ulrich","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-12T00:45:13.040Z","personalization_survey_n8n_version":"1.123.5","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-13","isPending":false}}]}}],"tags":[],"activeVersion":null}