config/n8n/workflows/letta-memory-update-clean.json
{
  "name": "Letta Memory Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "letta-memory",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "letta-memory-webhook"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 6}]
        }
      },
      "id": "schedule-1",
      "name": "Schedule (6h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 500]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nlet text = body.text || body.message || JSON.stringify(body);\nreturn [{ json: { text } }];"
      },
      "id": "code-1",
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "const timestamp = new Date().toISOString();\nreturn [{ json: { text: `[SCHEDULED CHECK] ${timestamp}` } }];"
      },
      "id": "code-2",
      "name": "Schedule Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.244:8283/v1/agents/agent-b3fb1747-1a5b-4c94-b713-11d6403350bf/archival-memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text }) }}",
        "options": {"timeout": 30000}
      },
      "id": "http-1",
      "name": "Add to Letta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Memory updated\", \"timestamp\": \"{{ $now.toISO() }}\"}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [980, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Process Input", "type": "main", "index": 0}]]
    },
    "Schedule (6h)": {
      "main": [[{"node": "Schedule Check", "type": "main", "index": 0}]]
    },
    "Process Input": {
      "main": [[{"node": "Add to Letta", "type": "main", "index": 0}]]
    },
    "Schedule Check": {
      "main": [[{"node": "Add to Letta", "type": "main", "index": 0}]]
    },
    "Add to Letta": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
