config/n8n/workflows/voice-command-processor.json
{
  "name": "Voice Command Processor",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Voice Command Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "voice-command"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.intent }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-intent",
      "name": "Has Intent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.intent }}",
              "value2": "lights"
            }
          ]
        }
      },
      "id": "check-lights",
      "name": "Lights Intent?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.244:8123/api/services/light/turn_on",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "entity_id",
              "value": "={{ $json.entities.room ? 'light.' + $json.entities.room : 'light.all' }}"
            }
          ]
        }
      },
      "id": "ha-lights-on",
      "name": "HA Lights On",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.244:8123/api/services/light/turn_off",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "entity_id",
              "value": "={{ $json.entities.room ? 'light.' + $json.entities.room : 'light.all' }}"
            }
          ]
        }
      },
      "id": "ha-lights-off",
      "name": "HA Lights Off",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.244:8850/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.command }}"
            },
            {
              "name": "voice_response",
              "value": true
            }
          ]
        }
      },
      "id": "voice-chat",
      "name": "Voice Chat Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.244:8700/activity/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "voice_command"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ command: $json.command, intent: $json.intent }) }}"
            }
          ]
        }
      },
      "id": "log-activity",
      "name": "Log Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Voice Command Webhook": {
      "main": [
        [
          {
            "node": "Has Intent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Intent?": {
      "main": [
        [
          {
            "node": "Lights Intent?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Voice Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lights Intent?": {
      "main": [
        [
          {
            "node": "HA Lights On",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HA Lights Off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA Lights On": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA Lights Off": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice Chat Response": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "voice",
      "id": "1"
    },
    {
      "name": "automation",
      "id": "2"
    }
  ]
}
